@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0C0741;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --color-primary100: #0C074d; */
  --color-primary100: #110970;
  --color-primary200: #0D009F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C074d;
    /* --background: #110970; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
